@import 'globals';

@media only screen and (max-width: 720px){
	body{
		font-size: 16px;
	}

	nav.prime{
		@include clearfix;	
		position: static;
		top: auto;
		background: #fff;
		border-bottom: 1px solid $border_color;

		li{
			float: left;
			margin: 0 10px 0 0;
			border-right: 1px solid $border_color;
			position: static;
		}

		.lists{
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			font-size: 18px;
			padding: 0 20px;
			border-top: 1px solid $border_color;

			li{
				float: none;
				margin: 0;
				border-right: 0 none;
				border-bottom: 1px solid $border_color;

				a{
					padding: 20px 0;
					overflow: visible;
				}
			}
		}

		.show{
			top: 40px;
		}
	}

	form.new_item{
		margin-top: 0;
		width: 100%;
		max-width: none;

		textarea{
			font-size: 24px;
			height: 60px;
			padding: 20px 20px 5px;
		}

		input[type="submit"]{
			height: 60px;
			width: 60px;
		}
	}

	.actions{
		left: auto;
		right: -80px;
	}

	.show-actions .actions{
		left: auto;
		right: -20px;
	}

} // 700px