@import 'globals';

@media only screen and (max-width: 800px){ // If you change max-width, also change it in the JS
	body{
		font-size: 16px;
	}

	nav.prime{
		@include clearfix;	
		position: static;
		top: auto;
		background: #fff;
		border-bottom: 1px solid $border_color;

		li{
			float: left;
			margin: 0;
			border-right: 1px solid $border_color;
			position: static;
			width: 33%;

			a, span{
				padding: 17px 0 13px;
			}

			&:first-child{
				width: 34%;
			}
		}

		.lists{
			@include transition(top 400ms ease);
			top: 200px;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			font-size: 18px;
			padding: 0 20px;
			border-top: 1px solid $border_color;
			overflow: auto;
			max-height: none;

			li{
				float: none;
				margin: 0;
				border-right: 0 none;
				border-bottom: 1px solid $border_color;

				&:first-child{
					width: auto;
				}

				a{
					padding: 20px 0;
					overflow: visible;
				}
			}
		}

		.show{
			top: 46px;
		}
	}

	form.new_item{
		margin: 0;
		margin-top: 0 !important;
		width: 100%;
		max-width: none;

		textarea{
			font-size: 24px;
			height: 60px;
			padding: 20px 80px 5px 20px;
		}

		input[type="submit"]{
			height: 60px;
			width: 60px;
		}
	}

	.items_list{
		overflow: hidden;
		margin-bottom: 40px;
	}

	.actions{
		left: auto;
		right: -80px;

		.delete{
			float: right;
		}
	}

	.show-actions .actions{
		left: auto;
		right: -20px;
	}

} // 700px