@import 'normalize';
@import 'globals';

//	Base
// **********************************************************

*{
	@include box-sizing(border-box);
}

body{
	background: $bg;
	color: $text_color;
	font-weight: 300;
	font-size: 20px;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	list-style: none;
	margin: 0;
	padding: 0;
}

//	Layout
// **********************************************************

.items_list, form.new_item{
	width: 95%;
	max-width: $full;
	margin: auto;
}

// Main Nav Links
nav.prime{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;

	li{
		background: #fff;
		width: 40px;
		margin-bottom: 10px;
		position: relative;
		text-align: center;

		a, span{
			display: block;
			color: $light_text_color;
			padding: 12px 0 9px;
			text-decoration: none;

			&:hover{
				color: darken($light_text_color, 20%);
			}
		}
	}

	.lists{
		@include transition(all 300ms ease);
		background: #fff;
		position: absolute;
		right: 40px + 10;
		top: -90px;
		width: 200px;
		padding: 15px 20px;
		opacity: 0;
		pointer-events: none;
		z-index: 100;

		li{
			width: auto;
			text-align: left;

			a{
				@include ellipsis;
				padding: 5px 0;
			}

			&.new{
				margin-bottom: 0;
				font-weight: bold;

				a{
					color: $green;
				}
			}
		}
	}

	.show{
		top: 0;
		opacity: 1;
		pointer-events: auto;
	}
}

//	New List Item Form
form.new_item{
	$button_width: 90px;
	margin: 100px auto $gutter;
	position: relative;

	textarea{
		@include transition(all 300ms ease);
		height: 90px;
		width: 100%;
		font-size: 42px;
		font-weight: 300;
		color: $light_text_color;
		line-height: 1;
		padding: 28px ($button_width + 20px) 20px 20px;
		border: 0 none;
		overflow: auto;

		&:focus{
			@include box-shadow(inset 1px 1px rgba(#000, 0.2));
			border: 0 none;
			outline: none;
			color: $text_color;
		}
	}

	input[type="submit"]{
		@include hide-text;
		background: $green;
		color: #fff;
		height: 90px;
		width: $button_width;
		position: absolute;
		top: 0;
		right: 0;
		border: 0 none;
	}
}

//	List items
.items_list{
	line-height: 1.5;

	li{
		@include transition(color 250ms ease);
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		border-bottom: 1px solid $border_color;
		cursor: pointer;

		&:hover{
			.actions{
				opacity: 1;
				left: -120px;
			}
		}

		&:active, &:focus{
			@include transition(none);

			.actions{
				opacity: 0;
			}
		}

		&:last-child{
			border-bottom: 0 none;
		}
	}

	.ui-state-highlight, .ui-state-highlight:last-child{
		border: 2px dashed $border_color;
		height: 40px;
	}

	.ui-sortable-helper{
		@include transform(scale(0.8));
		@include transform-origin(left center);
	}

	p{
		margin: 0 0 1em;

		&:last-of-type{
			margin-bottom: 0;
		}
	}
	
}

.focus-mode li:not(:first-child){
	color: $light_text_color;

	&:hover{
		color: $text_color;
	}
}

.actions{
	@include clearfix;
	@include transition(all 300ms ease);
	position: absolute;
	left: -70px;
	top: 50%;
	margin-top: -30px;
	padding-right: 30px;
	opacity: 0;
	font-size: 14px;
	font-weight: normal;
	color: lighten(#b1b7ba, 10%);

	span{
		background: #fff;
		display: block;
		width: 40px;
		margin-left: 10px;
		float: left;
		text-align: center;
		padding: 13px 0 10px;
		line-height: 1;

		&:hover{
			color: $light_text_color;
		}
	}
}

@import 'media-query.scss';