@import 'normalize';
@import 'globals';

//	Base
// **********************************************************

*{
	@include box-sizing(border-box);
}

body{
	background: $bg;
	color: $text_color;
	font-weight: 300;
	font-size: 20px;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	list-style: none;
	margin: 0;
	padding: 0;
}

//	Layout
// **********************************************************

.items_list, form.new_item{
	width: $full;
	margin: auto;
}

// Main Nav Links
nav.prime{
	position: absolute;
	top: 10px;
	right: 10px;

	li{
		background: #fff;
		width: 40px;
		margin-bottom: 10px;

		a, span{
			@include hide-text;
			display: block;
			height: 40px;
		}
	}
}

//	New List Item Form
form.new_item{
	$button_width: 90px;
	margin: 100px auto $gutter;
	position: relative;

	textarea{
		@include transition(all 300ms ease);
		height: 90px;
		width: 100%;
		font-size: 42px;
		font-weight: 300;
		color: $light_text_color;
		line-height: 1;
		padding: 28px ($button_width + 20px) 20px 20px;
		border: 0 none;
		overflow: auto;

		&:focus{
			@include box-shadow(inset 1px 1px rgba(#000, 0.2));
			border: 0 none;
			outline: none;
			color: $text_color;
		}
	}

	input[type="submit"]{
		@include hide-text;
		background: $green;
		color: #fff;
		height: 90px;
		width: $button_width;
		position: absolute;
		top: 0;
		right: 0;
		border: 0 none;
	}
}

//	List items
.items_list{
	line-height: 1.5;

	li{
		@include transition(all 300ms ease);
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		border-bottom: 1px solid #d5d7d8;
		cursor: pointer;

		&:hover{
			.actions{
				opacity: 1;
				left: -120px;
			}
		}

		&:active, &:focus{
			@include transition(none);
		}

		&:last-child{
			border-bottom: 0 none;
		}
	}

	p{
		margin: 0 0 1em;

		&:last-of-type{
			margin-bottom: 0;
		}
	}
	
}

.focus-mode li:not(:first-child){
	color: $light_text_color;

	&:hover{
		color: $text_color;
	}
}

.actions{
	@include clearfix;
	@include transition(all 300ms ease);
	position: absolute;
	left: -70px;
	top: 50%;
	margin-top: -30px;
	padding-right: 30px;
	opacity: 0;

	span{
		@include hide-text;
		background: #fff;
		display: block;
		width: 40px;
		height: 40px;
		margin-left: 10px;
		float: left;
	}
}