@import 'normalize';
@import 'globals';


//  Base
// **********************************************************

* {
    @include box-sizing(border-box);
}

.c {
    @include clearfix;
}

body {
    max-width: 100%;
}

body {
    background: $bg;
    color: $text_color;
    font-size: 20px;
    font-weight: 300;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

html body .hidden {
    display: none;
}

//  Layout
// **********************************************************

.list, form.new-item {
    margin: auto;
    max-width: $full;
    width: 90%;
}

// Main Nav Links
nav {
    font-size: 14px;
    position: fixed;
    right: 10px;
    top: 10px;

    li {
        background: #fff;
        cursor: pointer;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
        width: 40px;

        a, span {
            color: $light_text_color;
            display: block;
            padding: 12px 0 9px;
            text-decoration: none;

            &:hover {
                color: darken($light_text_color, 20%);
            }
        }
    }

    .list-switcher {
        @include transition(all 300ms ease);
        background: #fff;
        color: $light_text_color;
        max-height: 300px;
        opacity: 0;
        overflow: auto;
        padding: 15px 20px;
        pointer-events: none;
        position: absolute;
        right: 40px + 10;
        top: -90px;
        width: 200px;
        z-index: 100;

        li {
            @include ellipsis;
            padding: 5px 0;
            text-align: left;
            width: auto;

            &.new-list {
                input {
                    float: left;
                    width: 84%;
                }
                a {
                    border: 1px solid $light-text-color;
                    color: $green;
                    float: right;
                    font-weight: bold;
                    padding: 3px 6px;
                    position: relative;
                }
            }
            &:hover {
                color: $text_color;
                cursor: pointer;
            }

            &.new {
                font-weight: bold;
                margin-bottom: 0;
                color: $green;
                cursor: pointer;

                &:hover {
                    color: darken($green, 10%);
                }
            }
            &.delete {
                color: $red;
                cursor: pointer;
                font-weight: bold;

                &:hover {
                    color: darken($red, 10%);
                }
            }
            &.edit, &.submit-edit {
                cursor: pointer;
                font-weight: bold;

                &:hover {
                    color: darken($green, 10%);
                }
            }
            &.active  {
                color: $text_color;
                font-weight: 400;
            }
        }
    }

    .show {
        opacity: 1;
        pointer-events: auto;
        top: 0;
    }
}

.no-list {
    color: darken($green, 10%);
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 30%;
}

//  New List Item Form
form.new-item {
    $button_width: 90px;
    margin: 100px auto $gutter;
    position: relative;

    textarea {
        @include transition(all 300ms ease);
        border: 0 none;
        color: $light_text_color;
        font-size: 42px;
        font-weight: 300;
        height: 90px;
        line-height: 1;
        overflow: hidden;
        padding: 28px ($button_width + 20px) 20px 20px;
        width: 100%;

        &:focus {
            @include box-shadow(inset 1px -1px rgba(#000, 0.2));
            border: 0 none;
            color: $text_color;
            outline: none;
        }

        &.medium {
            font-size: 24px;
        }

        &.small {
            font-size: 16px;
        }
    }

    input[type="submit"] {
        @include hide-text;
        @include border-radius(0);
        background: $green;
        border: 0 none;
        color: #fff;
        height: 90px;
        position: absolute;
        right: 0;
        top: 0;
        width: $button_width;

        &:hover {
            background: darken($green, 5%);
        }
    }
}

//  List items
.list {
    line-height: 1.5;
    display: none;

    &.current-list {
        display: block;
    }

    .item {
        @include transition(color 400ms ease);
        border-bottom: 1px solid $border_color;
        cursor: move;
        padding: 20px 0;
        position: relative;

        &:active, &:focus {
            @include transition(none);

            .actions {
                opacity: 0;
            }
        }

        &:last-child {
            border-bottom: 0 none;
        }

        .delete:hover {
            background: $red;
            color: #fff;
        }
        .edit, .submit-edit {
            &:hover {
                background: $green;
                color: #fff;
            }
        }
        .submit-edit {
            bottom: 20px;
            left: 50px;
            position: relative;
        }
        &.edit-mode {
            textarea, .save {
                display: block;
            }
            p {
                display: none;
            }
        }
    }

    .ui-state-highlight, .ui-state-highlight:last-child {
        border: 2px dashed $border_color;
        height: 40px;
    }

    .ui-sortable-helper {
        @include transform(scale(0.8));
        @include transform-origin(left center);
    }

    p {
        margin: 0 0 1em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    textarea {
        @include box-shadow(none);
        background: #fff;
        border: 0 none;
        bottom: 5px;
        color: $text_color;
        font-weight: 300;
        height: 70px;
        padding: 10px;
        position: relative;
        width: 100%;

        &:focus {
            outline: 0;
        }
    }

}

.focus-mode li:not(:first-child) {
    color: $light_text_color;

    &:hover {
        color: $text_color;
    }
}

.show-actions, .edit-mode {
    .actions {
        opacity: 1;
        left: -120px;
    }
}

.actions {
    @include clearfix;
    @include transition(all 300ms ease);
    color: lighten(#b1b7ba, 10%);
    font-size: 14px;
    font-weight: normal;
    left: -30px;
    margin-top: -20px;
    padding-right: 30px;
    position: absolute;
    opacity: 0;
    top: 50%;

    span {
        background: #fff;
        display: block;
        float: left;
        line-height: 1;
        margin-left: 10px;
        text-align: center;
        padding: 13px 0 10px;
        width: 40px;

        &:hover {
            color: $light_text_color;
            cursor: pointer;
        }
    }

    .save {
        background: $green;
        color: #fff;
        display: none;

        &:hover {
            background: darken($green, 10%);
            color: #fff;
        }
    }
}

.list-title {
    background: rgba(#000, 0.75);
    color: #fff;
    display: inline-block;
    font-size: 18px;
    left: 0;
    margin: 0;
    padding: 18px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 900;

    &.hidden {
        display: none;
    }
}

.hinge-close {
    @include soy-animate(hinge);
}

.modal {
    position: fixed;
}