@import 'globals';

@media only screen and (max-width: 800px) {

    body {
        font-size: 16px;
    }

    .list-title {
        padding: 15px;
    }

    nav {
        @include clearfix;
        background: #fff;
        border-bottom: 1px solid $border-color;
        position: static;
        top: auto;

        li {
            border-right: 1px solid $border-color;
            float: left;
            margin: 0;
            position: static;
            width: 33%;

            a, span {
                padding: 17px 0 13px;
            }
            &:first-child {
                width: 34%;
            }
        }

        .list-switcher {
            @include transition(top 400ms ease);
            border-top: 1px solid $border-color;
            bottom: 0;
            font-size: 18px;
            left: 0;
            max-height: none;
            padding: 0 20px;
            overflow: auto;
            right: 0;
            top: 200px;
            width: 100%;

            li {
                border-bottom: 1px solid $border-color;
                border-right: 0 none;
                float: none;
                margin: 0;
                padding: 20px 0;
                overflow: visible;

                &:first-child {
                    width: auto;
                }
            }

            .new-list a.submit-new-list {
                font-size: 20px;
                padding: 2px 10px;
            }
        }

        .show {
            top: 46px;
        }
    }

    form.new-item {
        margin: 0;
        margin-top: 0 !important;
        max-width: none;
        width: 100%;

        textarea {
            font-size: 24px;
            height: 60px;
            padding: 20px 80px 5px 20px;
        }

        input[type="submit"] {
            height: 60px;
            width: 60px;
        }
    }

    .list {
        margin-bottom: 40px;
        overflow: hidden;
    }

    .actions {
        display: none;
        position: relative;
    }
    .show-actions .actions, .edit-mode .actions {
        display: block;
        float: right;
        left: 0;
        margin-top: 10px;
        padding-right: 0;

        span {
            @include def-box-shadow();
            border: 1px solid $border-color;
        }
        .submit-edit {
            bottom: 0;
            left: 0;
        }
    }
}
