<!DOCTYPE html>
<html ng-app='MinimalistApp' manifest="/.cache.manifest">
<head>
    <title>Minimalist</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="fonts/ss-standard.css" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/mobile.css" />

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/plugins.js"></script>
</head>

<body ng-controller="MainCtrl">
  <h1 class="list-title">Minimalist</h1>

  <nav>
    <ul>
      <li>
        <a href="/" class="ss-icon toggle-lists">list</a>
        <ul class="lists-switcher hide">
          <li class="delete">-- Delete</li>
          <li class="new">+ New</li>
        </ul>
      </li>
      <li class="arrow prev-list"><span class="ss-icon">previous</span></li>
      <li class="arrow next-list"><span class="ss-icon">next</span></li>
    </ul>
  </nav>

  <form class="new_item" ng-submit="addItem()">
    <textarea id="add-item-text" placeholder="Write&hellip;"
    	      ng-model="entry"></textarea>
    <input type="submit" id="add-item" value="Add">
  </form>

  <section class="lists">
  	<ul data-id="{{ _listId }}"
  		class="list" data-id="{{ _listId }}"
  		ng-repeat="_listId in listIndex" ng-class="{'current-list': _listId == listId}">
  	  <li data-id="{{ _itemId }}"
  	  	  ng-repeat="_itemId in lists[_listId].itemIndex"
  	  	  ng-mouseenter='showActions($event)' ng-mouseleave='hideActions($event)'>
  	  	<p>{{ lists[_listId].items[_itemId].text }}</p>
  	  	<textarea>{{ lists[_listId].items[_itemId].text }}</textarea>
  	  	<div class="actions">
  	  	  <span ng-click="delItem(itemId)" class="delete ss-icon">delete</span>
  	  	  <span class="save ss-icon">check</span>
  	  	</div>
  	  </li>
  	</ul>
  </section>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>

</body>

</html>
